body {
    font-family: 'Montserrat', sans-serif;
}

.text-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.bg-blue {
    background-color: #004AAD !important;
}

.bg-orange {
    background-color: #DD7F1E;
}

.img-logo {
    height: 45px;
    width: 45px;
}

.btn-white {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.btn-white:hover {
    border-color: #DD7F1E;
    color: #004AAD !important;
    background-color: #FFFFFF;
}

.btn-transparent {
    border: 2px solid #DD7F1E;
    border-radius: 10px;
    color: white;
}

.btn-transparent:hover {
    border: 2px solid #FFFFFF;
    color: #DD7F1E;
}

.btn-orange {
    border: 2px solid #DD7F1E;
    border-radius: 10px;
    color: black;
}

.btn-orange:hover {
    border: 2px solid #004AAD;
    color: #DD7F1E;
}

.btn-taxi {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    min-height: 40px;
    width: 120px
}

.search {
    background-color: #DD7F1E;
    height: 100px;
    border-radius: 10px;
}

.input-search {
    height: 65%;
    border-radius: 10px;
    border-style: none;
}

.card-footer .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.image-home {
    height: 180px;
    width: 180px;
}

footer a:hover {
    color: #DD7F1E;
}

.img-hotel {
    height: 80%;
    width: 80%;
}

.rating-square {
    width: 30px;
    height: 30px;
    background-color: #004AAD;
    border: 1px solid #DD7F1E;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.border-home {
    border: solid 2px #DD7F1E;
}

.customHr {
    color: #DD7F1E;
    border-width: 2px;
}

/* Style boutons sur fond blanc*/
.btnF {
    background-color: #FFFFFF;
    color: #004AAD;
    border: 2px solid #004AAD;
}

/* Style pour justifier les textes */
.text-justify {
    text-align: justify;
}

/* Home Map */
#mapid {
    margin: 0;
    height: 200px;
    width: 100%;
}

.sticky-menu {
    position: sticky;
    margin: 0 auto;
    top: 0;
}

.selected-date {
    height: 100%;
}

.border-selectedDate {
    border: solid 2px #DD7F1E;
    height: 100px;
}

.input-selectedDate {
    height: 65%;
    border-radius: 10px;
    border-color: #004AAD;
}

.text-blue {
    color: #004AAD;
}