<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,400;1,500&family=Tajawal:wght@500&display=swap"
          rel="stylesheet">

    <title>Booking Page</title>
</head>
<body>
<!-----------Start Header Section-------------->
<div th:replace="fragments/header :: header"></div>
<!-----------End Header Section---------------->
<!-----------Start Nav Section-------------->
<div th:replace="fragments/nav :: nav"></div>
<!-----------End Nav Section---------------->
<!------------Start Booking Form Section--------->
<main>
    <div class="container">
        <div class="row">
            <form method="post" th:object="${bookingForm}" action="/paiement" class="d-flex flex-wrap">
                <div class="col-md-6 pe-3 mt-5">
                    <div class="card shadow">
                        <div class="card-header bg-transparent border-bottom-none pb-0">
                            <h3 class="text-center">Informations du mineur</h3>
                        </div>
                        <hr class="customHr">
                        <div class="d-flex justify-content-around">
                            <div>
                                <label class="form-label" for="firstName"></label>
                                <input class="form-control" type="text" id="firstName" name="firstName"
                                       placeholder="Prénom de mon enfant">
                            </div>
                            <div>
                                <label class="form-label" for="lastName"></label>
                                <input class="form-control" type="text" id="lastName" name="lastName"
                                       placeholder="Nom de mon enfant">
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div>
                                <label class="form-label" for="cellphone"></label>
                                <input class="form-control" type="text" id="cellphone" name="cellphone"
                                       placeholder="Mobile de mon enfant">
                            </div>
                            <div>
                                <label class="form-label" for="dateOfBirthM"></label>
                                <input class="form-control" type="date" id="dateOfBirthM" name="dateOfBirthM"
                                       placeholder="Date de naissance">
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div>
                                <label class="form-label" for="familyRelationship"></label>
                                <textarea class="form-control" rows="5" id="familyRelationship"
                                          name="familyRelationship"
                                          placeholder="Autorisation du représentant légal"></textarea>
                            </div>
                            <div class="">
                                <label class="form-label" for="additionalInformation"></label>
                                <textarea class="form-control" rows="5" id="additionalInformation"
                                          name="additionalInformation"
                                          placeholder="Informations complémentaires"></textarea>
                            </div>
                        </div>
                        <div class="d-grid gap-2 m-5">
                            <button class="btnF btn-white shadow py-2" disabled>Signature</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ps-3 mt-5">
                    <div class="card shadow">
                        <div class="card-header bg-transparent border-bottom-none pb-0">
                            <h3 class="text-center">Récapitulatif de la réservation</h3>
                        </div>
                        <hr class="customHr">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="card-text me-3 mb-4"><span class="text-blue">Nom de l'hôtel : </span>
                                    <span th:text="${selectedHostelName}"></span></div>
                                <div class="card-text"><span class="text-blue">Adresse : </span>
                                    <span th:text="${selectedHostelAddress}"></span></div>
                            </div>
                            <div class="d-flex">
                                <div class="card-text me-3 mb-4"><span class="text-blue">Code Postal : </span>
                                    <span th:text="${selectedHostelPostalCode}"></span></div>
                                <div class="card-text"><span class="text-blue">Ville : </span>
                                    <span th:text="${selectedHostelCity}"></span>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="card-text me-3 mb-4"><span class="text-blue">Date d'arrivée : </span>
                                    <span th:text="${selectedDateArrived}" th:id="dateArrived"
                                          th:name="dateArrived"></span></p></div>
                                <div class="card-text"><span class="text-blue">Date de départ : </span>
                                    <span th:text="${selectedDepartureDate}"
                                          th:id="departureDate" th:name="departureDate"></span></div>
                            </div>
                            <div class="card-text me-3 mb-4"><span class="text-blue">Nombre de nuit : </span>
                                <span></span></div>
                            <div class="d-flex">
                                <div class="card-text me-3 mb-4"><span class="text-blue">Type de chambre : </span>
                                    <span th:text="${selectedRoom}"></span></div>
                                <div class="card-text"><span class="text-blue">Prix de la chambre : </span>
                                    <span th:text="${selectedRoomPrice}+ ' €'"></span></div>
                            </div>
                            <div class="d-flex">
                                <span class="card-text"><span class="text-blue">Services supplémentaires :</span></span>
                                <ul>
                                    <li th:each="benefit, i : ${selectedBenefits}">
                                        <span class="text-blue">Type de service :</span><span th:text="${benefit}"></span>
                                        <span class="text-blue">Prix du service :</span><span th:text="${selectedBenefitsPrice[i]}"></span>
                                    </li>
                                </ul>
                            </div>
                            <p class="card-text text-end mb-3">
                                <span class="text-blue">Total : </span><i class="bi bi-currency-euro"></i>
                                <!-- Calcul du total à ajouter ici -->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-center">
                    <div class="card shadow col-8  mt-5">
                        <div class="card-header bg-transparent border-bottom-none pb-0">
                            <h3 class="text-center">Coordonnées Bancaires</h3>
                        </div>
                        <hr class="customHr">
                        <div class="row">
                            <div class="d-flex justify-content-around">
                                <div>
                                    <label class="form-label"></label>
                                    <input class="form-control" type="text" placeholder="Titulaire de la carte"
                                           disabled>
                                </div>
                                <div>
                                    <label class="form-label"></label>
                                    <input class="form-control" type="text" placeholder="Numéro de la carte"
                                           disabled>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div>
                                    <label class="form-label"></label>
                                    <input class="form-control" type="text" placeholder="Date d'expiration" disabled>
                                </div>
                                <div>
                                    <label class="form-label"></label>
                                    <input class="form-control" type="text" placeholder="Code de sécurité" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 m-5">
                            <button class="btnF btn-white shadow py-2" type="submit">Réserver</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!-------------Start Footer Section---------->
<div th:replace="fragments/footer :: footer"></div>
<!-------------End Footer Section------------>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Récupérez le prix de la chambre en tant que chaîne de caractères
        const selectedRoomPriceString = "{{selectedRoomPrice}}";

        // Convertissez la chaîne de caractères en un nombre décimal
        const selectedRoomPrice = parseFloat(selectedRoomPriceString);

        // Vérifiez si la conversion a réussi
        if (!isNaN(selectedRoomPrice)) {
            // Mettez à jour l'affichage du prix de la chambre avec le nombre décimal
            const priceElement = document.querySelector("#selectedRoomPrice");
            priceElement.textContent = selectedRoomPrice.toFixed(2) + "€";
        } else {
            console.error("Invalid price: " + selectedRoomPriceString);
        }
    });
</script>
</body>
</html>