<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,400;1,500&family=Tajawal:wght@500&display=swap"
          rel="stylesheet">

    <title>Booking Page</title>
</head>
<body>
<!-----------Start Header Section-------------->
<div th:replace="fragments/header :: header"></div>
<!-----------End Header Section---------------->
<!-----------Start Nav Section-------------->
<div th:replace="fragments/nav :: nav"></div>
<!-----------End Nav Section---------------->
<!------------Start Booking Form Section--------->
<main>
    <form method="post" th:object="${bookingForm}" action="/paiement">
        <div class="container border shadow w-75 mt-5 mb-5">

            <h1 class="text-center mt-3 mb-4">Informations du mineur</h1>
            <div>
                <label class="form-label" for="firstName"></label>
                <input class="form-control" type="text" id="firstName" name="firstName" placeholder="Prénom de mon enfant">
            </div>
            <div>
                <label class="form-label" for="lastName"></label>
                <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Nom de mon enfant">
            </div>
            <div>
                <label class="form-label" for="cellphone"></label>
                <input class="form-control" type="text" id="cellphone" name="cellphone" placeholder="Mobile de mon enfant">
            </div>
            <div>
                <label class="form-label" for="dateOfBirthM"></label>
                <input class="form-control" type="date" id="dateOfBirthM" name="dateOfBirthM" placeholder="Date de naissance">
            </div>
            <div>
                <label class="form-label" for="familyRelationship"></label>
                <textarea class="form-control" rows="5" id="familyRelationship" name="familyRelationship"
                          placeholder="Autorisation du représentant légal"></textarea>
            </div>
            <div class="mb-5">
                <label class="form-label" for="additionalInformation"></label>
                <textarea class="form-control" rows="4" id="additionalInformation" name="additionalInformation"
                          placeholder="Informations complémentaires"></textarea>
            </div>
            <div class="d-flex justify-content-end mb-2 mt-5">
                <button class="btnF btn-white w-25 nav-link mt-2 mb-2 px-2" disabled>Signature</button>
            </div>
        </div>

        <!------------End Booking Form Section--------->

        <!------------Start Paiement Form Section--------->

        <div class="container border shadow w-75 mt-5 mb-5">

            <h1 class="text-center mt-3 mb-4">Coordonnées Bancaires</h1>
            <div class="row">
                <div class="col-4">
                    <label class="form-label"></label>
                    <input class="form-control" type="text" placeholder="Titulaire de la carte"
                           disabled>
                </div>
                <div class="col-4">
                    <label class="form-label"></label>
                    <input class="form-control" type="text" placeholder="Numéro de la carte"
                           disabled>
                </div>
                <div class="col-2">
                    <label class="form-label"></label>
                    <input class="form-control" type="text" placeholder="Date d'exp" disabled>
                </div>
                <div class="col-2 mb-5">
                    <label class="form-label"></label>
                    <input class="form-control" type="text" placeholder="Crypt." disabled>
                </div>
            </div>

        </div>
        <!------------End Paiement Form Section--------->

        <!------------Start Recap Section--------->
        <div class="container border shadow w-75 mt-5 mb-5">
            <h1 class="text-center mt-3 mb-4">Récapitulatif de la réservation</h1>
            <div class="card-body">
                <div class="card-text">Nom de l'hôtel: <p th:text="${selectedHostelName}"></p></div>
                <div class="card-text">Adresse: <p th:text="${selectedHostelAddress}"></p></div>
                <div class="card-text">Code Postal: <p th:text="${selectedHostelPostalCode}"></p></div>
                <div class="card-text">Ville: <p th:text="${selectedHostelCity}"></p></p>
                <div class="card-text">Date d'arrivée: <p th:text="${selectedDateArrived}" th:id="dateArrived" th:name="dateArrived"></p></p>
                <div class="card-text">Date de départ: <p th:text="${selectedDepartureDate}" th:id="departureDate" th:name="departureDate"></p></div>
                <div class="card-text">Nombre de nuit: <p></p></div>
                <div class="card-text">Type de chambre: <p th:text="${selectedRoom}"></p></div>
                <div class="card-text">Prix de la chambre: <p th:text="${selectedRoomPrice}"></p></div>
                <p class="card-text">Services supplémentaires:</p>
                <ul>
                    <li th:each="benefit, i : ${selectedBenefits}">
                        <span th:text="${benefit}"></span>
                        <span th:text="${selectedBenefitsPrice[i]}"></span>
                    </li>
                </ul>
                <p class="card-text text-end">
                    Total : <i class="bi bi-currency-euro"></i> <!-- Calcul du total à ajouter ici -->
                </p>
            </div>

        </div>

        <!------------End Recap Section--------->
        <div class="d-flex justify-content-center mt-7">
            <button class="btnF btn-white w-50 nav-link mt-3 mb-4 px-2" type="submit">Réserver</button>
        </div>
    </form>

</main>
<!-------------Start Footer Section---------->
<div th:replace="fragments/footer :: footer"></div>
<!-------------End Footer Section------------>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Récupérez le prix de la chambre en tant que chaîne de caractères
        const selectedRoomPriceString = "{{selectedRoomPrice}}";

        // Convertissez la chaîne de caractères en un nombre décimal
        const selectedRoomPrice = parseFloat(selectedRoomPriceString);

        // Vérifiez si la conversion a réussi
        if (!isNaN(selectedRoomPrice)) {
            // Mettez à jour l'affichage du prix de la chambre avec le nombre décimal
            const priceElement = document.querySelector("#selectedRoomPrice");
            priceElement.textContent = selectedRoomPrice.toFixed(2) + "€";
        } else {
            console.error("Invalid price: " + selectedRoomPriceString);
        }
    });
</script>
</body>
</html>