<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,400;1,500&family=Tajawal:wght@500&display=swap"
          rel="stylesheet">

    <title>Update Password Form</title>
</head>
<body>

<!-----------Start Header Section-------------->
<div th:replace="fragments/header :: header"></div>
<!-----------End Header Section---------------->
<!-----------Start Nav Section-------------->
<div th:replace="fragments/nav :: nav"></div>
<!-----------End Nav Section---------------->

<!------- Start Update Password Form ------->
<main>
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Avis Clients</h1>
        <div class="row">
            <div class="col-5">
                <form method="post" action="/avis_clients/{bookingId}/ajouter_un_avis">
                    <div class="card shadow">
                        <div class="card-header bg-transparent">
                            <h5 class="text-center mt-2">Laissez le vôtre !</h5>
                        </div>
                        <hr class="customHr mt-0">
                        <div class="p-3 mt-3 mb-3">
                            <div class="text-center">
                                <label for="exampleFormControlTextarea2" class="form-label text-blue">Rédiger votre
                                    commentaire</label>
                            </div>
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" th:field="reviews.commentary"></textarea>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="p-3 mt-3 mb-3">
                                <div class="form-label text-center text-blue">Quelle note donneriez-vous ?</div>
                                <div class="form-check form-check-inline mt-3">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio1"
                                           value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio2"
                                           value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio3"
                                           value="option2">
                                    <label class="form-check-label" for="inlineRadio2">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio4"
                                           value="option2">
                                    <label class="form-check-label" for="inlineRadio2">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                           id="inlineRadio5"
                                           value="option2">
                                    <label class="form-check-label" for="inlineRadio2">5</label>
                                </div>
                                <div class="d-flex justify-content-center mt-4">
                                    <button class="btnF btn-white nav-link p-2" type="submit">Ajouter votre avis
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-7 p-0">
                <div class="card shadow col-12 mb-4" th:each="reviews : ${reviews}">
                    <div class="d-flex justify-content-between pt-2 px-3">
                        <h5 class="card-title mt-2 mb-3"
                            th:text="${reviews.booking.userProfile.lastNameU} +' '+ ${reviews.booking.userProfile.firstNameU}">
                            Jean-Pierre Dujardin</h5>
                        <div class="rating-square mt-2" th:text="${reviews.scores}">
                            4
                        </div>
                    </div>
                    <hr class="customHr mt-0">
                    <div class="pt-2 px-3">
                        <h6 class="card-subtitle mb-4 text-body-secondary"><span class="text-blue me-2">Type de chambre : </span><span
                                th:text="${reviews.booking.room.type.typeRoom}"></span></h6>
                        <p class="card-text"><span class="text-blue me-2">Avis : </span><span
                                th:text="${reviews.commentary}"></span></p>
                        <p class="text-end" th:text="${#temporals.format(reviews.createdAt, 'dd/MM/yyyy HH:mm')}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!------- End Update Password Form ------->
<!-------------Start Footer Section---------->
<div th:replace="fragments/footer :: footer"></div>
<!-------------End Footer Section------------>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>
</html>