<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,400;1,500&family=Tajawal:wght@500&display=swap"
          rel="stylesheet">

    <title>User Page</title>
</head>
<body>
<!-----------Start Header Section-------------->
<div th:replace="fragments/header :: header"></div>
<!-----------End Header Section---------------->
<!-----------Start Nav Section-------------->
<div th:replace="fragments/nav :: nav"></div>
<!-----------End Nav Section---------------->
<main>
    <!----- Start update personal data form ----->
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card border shadow mt-5 mb-5 col-md-8">
                <div class="card-head text-center">
                    <h3 class="pt-3">Mes informations personnelles</h3>
                </div>
                <hr class="customHr">
                <div class="card-text px-3">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <label class="form-label text-blue col-md-3" for="lastNameU">Nom :</label>
                            <input class="form-control" type="text" id="lastNameU" name="lastNameU"
                                   th:field="${userProfile.lastNameU}"
                                   readonly>
                        </div>
                        <div class="d-flex align-items-center">
                            <label class="form-label text-blue col-md-4" for="firstNameU">Prénom : </label>
                            <input class="form-control" type="text" id="firstNameU" name="firstNameU"
                                   th:field="${userProfile.firstNameU}" readonly>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <label class="form-label text-blue col-md-3" for="dateOfBirthU">Date de naissance :</label>
                            <input class="form-control" type="text" id="dateOfBirthU" name="dateOfBirthU"
                                   th:field="${userProfile.dateOfBirthU}" readonly>
                        </div>
                        <div class="d-flex align-items-center">
                            <label class="form-label text-blue col-md-3" for="mailU">Email :</label>
                            <input class="form-control" type="text" id="mailU" name="mailU"
                                   th:field="${userProfile.mailU}"
                                   readonly>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <label class="form-label text-blue col-md-3" for="phone">Fixe :</label>
                            <input class="form-control" type="text" id="phone" name="phone"
                                   th:field="${userProfile.phone}"
                                   readonly>
                        </div>
                        <div class="d-flex align-items-center">
                            <label class="form-label text-blue col-md-4" for="cellPhoneU">Portable :</label>
                            <input class="form-control" type="text" id="cellPhoneU" name="cellPhoneU"
                                   th:field="${userProfile.cellPhoneU}" readonly>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto my-5">
                        <a class="btnF btn-white shadow py-2 text-decoration-none text-center"
                           href="/profil/modification"
                           type="button">
                            Modifier mes informations
                        </a>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mt-2 mb-5">
                        <a class="btnF btn-white shadow py-2 text-decoration-none text-center" href="/mot_de_passe"
                           type="button">
                            Modifier mon mot de passe
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!----- End update personal data form ----->

        <!----- Start container booked and favorites ----->

        <div class="mb-5 col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center mb-4 mt-4">Réservations</h2>
                    <div class="card shadow mb-4">
                        <div class="card-head m-2">
                            <div class="row">
                                <h2 class="col-10 fs-3">Nom de l'hôtel 1</h2>
                                <span class="d-flex justify-content-end col-1"><i
                                        class="bi bi-exclamation-circle-fill fs-3"></i></span>
                                <span class="d-flex justify-content-end col-1"><i
                                        class="bi bi-x-circle-fill fs-3"></i></span>
                                <p class="m-1 text-blue">Numéro de réservation :</p>
                            </div>
                        </div>
                        <hr class="customHr mt-0">
                        <div class="card-body d-flex m-1">
                            <img src="/test-image1.jpg" alt="photo de l'hôtel">
                            <div class="ms-5">
                                <p class="m-1 mb-3 text-blue">Adresse :</p>
                                <p class="m-1 mb-3 text-blue">Code Postal :</p>
                                <p class="m-1 mb-3 text-blue">Ville :</p>
                                <p class="m-1 mb-3 text-blue">Téléphone :</p>
                                <p class="m-1 mb-3 text-blue">Num de chambre :</p>
                                <p class="m-1 mb-3 text-blue">Date de séjour :</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text-center mb-4 mt-4">Favoris</h2>
                    <div class="row">
                        <div class="d-flex">
                            <div class="card border shadow mb-3">
                                <div class="card-head m-2">
                                    <div class="row">
                                        <h2 class="col-11 fs-3">Nom de l'hôtel 1</h2>
                                        <span class="d-flex justify-content-end col-1"><i
                                                class="bi bi-exclamation-circle-fill fs-3"></i></span>
                                    </div>
                                </div>
                                <hr class="customHr mt-0">
                                <div class="card-body d-flex justify-content-between m-1">
                                    <img src="/test-image1.jpg" alt="photo de l'hôtel">
                                    <div class="col-7 justify-content-center">
                                        <p class="m-1 mb-3 text-justify">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit. Nulla eu sodales augue. Fusce aliquam ipsum eget congue
                                            aliquam.</p>
                                        <a th:href="@{/hotel}" class="btn btn-orange w-100"> <i
                                                class="bi bi-search me-2"></i> Plus d'infos</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----- End container booked and favorites ----->
    </div>
</main>
<!-------------Start Footer Section---------->
<div th:replace="fragments/footer :: footer"></div>
<!-------------End Footer Section------------>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>
</html>